                   
<% if logged_in? %>
const show_user = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>;
<script type="text/javascript">
  window.currentUser = show_user;
</script>
<% end %>
<main id='root'></main>

