.login-form-container {
  position: fixed;
  left: 25%;
  top: 15%;
  font-family: Helvetica;
  padding: 5px;
}
.login-form-box {
  position: absolute;
  border: 1px solid silver;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  top: 30%;
  margin: 50px 335px;
  padding: 28px 5px 10px;
  width: 400px;
  opacity: 0.7;
  color: black;
  font-weight: 700;
}
.login-input {
  position: relative;
  padding: 0px 8px;
  border-bottom: 1px solid lightgray;
  left: 4%;
  font-family: 'Helvetica Neue';
  // background: whitesmoke;
}

#login-email, #login-password {
  padding: 1.7rem 1rem .45rem 1rem;
  left: 20px;
  width: 337px;
  border: 1px solid lightgray;
  border-radius: 7px;
}
#fname, #lname {
  width: 178px;
}
#email, #password, #displayname, #gender {
  width: 356px;
}
.login-input:active {
  border-bottom: 3px solid #188fff;
}

.session-submit {
  background: #188fff;
  color: #fff;
  padding: 17px 150px;
  border-radius: 5px;
  position: absolute;
  left: 6%;
}

.session-submit:hover {
  background: #2790f1;
  opacity: 0.7;

}

.header-name {
  position: absolute;
  top: 9px;
  font-size: 26px;
  font-weight: 700;
}

.header-button {
  font-size: 20px;
  background: black;
  border-radius: 4px;
  color: white;
  font-weight: 500; 
  padding: 8px 20px;
  position: absolute;
  top: 15%;    
}

#demo {
  color: white;
}

.link-btn {
  color: white;
}