.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255, 255, 255);
  z-index: 10;
}

.creds {
  color: #198fff;
  font-weight: 400;
}

.creds:hover {
  color: darkblue;
  font-weight: 400;
}

.cred-sign {
  margin: 0 auto;
  text-align: center;
  color: #26282a;
  font-size: 18px;
  font-family: 'Helvetica Neue';

}