html, body {
  height: 100%;
}

.launch-body {
  color: white;
  background: image-url('friend1.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 107vh;
  font-family: Proxima Nova, helvetica nueue, helvetica, arial, sans-serif;
  position: relative;
  top: -64px;
}

.login-signup {
  display: grid;
  grid-template-columns: 1fr auto auto repeat(3, 1fr);
  grid-gap: 20px;
  width: 1922px;
  height: 65px;
  font-size: 21px;
  justify-items: center;
  align-items: center;
  background: rgba(90, 88, 88, 0.6);
  position: fixed;
  z-index: 1;
}

.logo {
  font-weight: 700;
}

.search {
  width: 1120px;
  background: rgba(245, 245, 245, .66);
  border-radius: 4px;
  border: 1px solid lightslategray;
}

.login {
  background: none;
  border: none;
  grid-column: 5;
  justify-self: end;
}
.signup {
  background-color: white;
  border: 2px solid white;
  padding: 6px 22px;
  border-radius: 3px;
  color: black;
  font-size: 21px;
  grid-column: 6;
  justify-self: baseline;
}

.content {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 294.5px 106px 143.5px;
  height: 640px;
  grid-template-columns: 396px 801px auto;
  grid-auto-flow: column;
  justify-items: center;
}

.content-h1 {
  grid-column: 2;
  grid-row: 2;
  width: 560px;
  font-size: 60px;
  height: 69px;
  text-shadow: 1px 1px black;
}

.content-h2 {
  grid-row: 3;
  grid-column: 2;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.signup-2 {
  grid-column: 2;
  grid-row: 4;
  font-size: 24px;
  background: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 16px 58px;
}
.empty {
  display: grid;
  height: 174px;
}
.footer {
  display: grid;
  background: black;
  height: 200px;
  position: relative;
  bottom: -121px;
  color: white;
  font-weight: 700;
  justify-items: center;
  align-items: center;
}

.footer-a {
  grid-column: 2;
}

.footer-b {
  grid-column: 3;
}
.footer-c {
  grid-column: 4;
}

@media only screen and (max-width: 1400px) {
  .login-signup, .content, .empty, .footer {
    width: 100%;
  }
}




/*207px 1184px 298px*/