html, body {
  height: 100%;
}

.launch-body {
  color: white;
  background: image-url('friend1.jpg') no-repeat center center fixed;
  background-size: 100%;
  overflow: hidden;
  height: 100vh;
}
header {
  height: 60px;
  background-color: lightgray;
  opacity: 0.5;
  color: white;
}

nav {
  margin: 0 auto;
  display: flex;
  opacity: 1;
  font-size: 21px;
  justify-content: space-between;
  position: relative;
  top: 20px;
}

a {
  background-color: white;
  border: 2px solid white;
  padding: 4px;
  border-radius: 6px;
  color: black;
}

input {
  border: 2px solid grey;
}

.content {
  margin: 0 auto;
  width: 640px;
  height: 297px;
  position: relative;
  top: 33%;
}

.content > h1 {
  font-size: 56px;
  text-align: center;
}

.content h2 {
  font-size: 26px;
  text-align: center;
  margin: 5px;
}

.content a {
  position: absolute;
  top: 212px;
  left: 184px;
  padding: 11px 44px;
  font-size: 28px;
}