html, body {
  height: 100%;
}

.launch-body {
  color: white;
  background: image-url('friend1.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 93vh;
  font-family: Proxima Nova, helvetica nueue, helvetica, arial, sans-serif;
  position: inherit;
  top: -64px;
}

.splash-auth {
  display: flex;
  width: 100%;
  height: 65px;
  font-size: 21px;
  justify-content: space-between;
  align-items: center;
  background: rgba(90, 88, 88, 0.6);
  position: fixed;
  z-index: 1;
}

.splash-losi {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.logo {
  position: relative;
  left: 16%;
  font-weight: 700;
}

.search {
  width: 1120px;
  background: rgba(245, 245, 245, .66);
  border-radius: 4px;
  border: 1px solid lightslategray;
}

.login {
  background: none;
  border: none;
  color: #fff;
  justify-self: end;
  font-size: 16px;
  font-weight: 700;
}
.signup {
  background-color: white;
  border: 2px solid white;
  padding: 6px 22px;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.signup:hover {
  color: grey;
}
.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  position: relative;
  top: 40%;
  
}

.content-h1 {
  margin: auto;
  padding-bottom: 12px;
  width: 560px;
  font-size: 60px;
  
  text-shadow: 1px 1px black;
}

.content-h2 {
  margin: auto;
  padding-bottom: 15px;
  font-weight: 500;
  width: 580px;
  font-size: 26px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.signup-2 {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  background: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 16px 58px;
}

.footer {
  display: flex;
  background: black;
  justify-content: space-evenly;
  height: 77px;
  position: relative;
  color: white;
  font-weight: 700;
  align-items: center;
}



@media only screen and (max-width: 1400px) {
  .login-signup, .content, .empty, .footer {
    width: 100%;
  }
}




/*207px 1184px 298px*/