.photo-div ul {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    &::after {
        content: '';
        flex-grow: 999999999;
    }       
}


.cover {
    background: url(/assets/great_wall-c072fe9fbd3c32b4e596097e4dcdc84deb7d4a29acc9c4f3292b9c3a2c5f982e.jpg) no-repeat center bottom fixed;
    height: 276px;
}

.photo-cover {
    position: absolute;
    top: 50px;
}

.avatar {
    width: 85px;
    height: 85px;
    background: blue;
    border-radius: 25px;
    position: relative;
    top: 63%;
    left: 1%;
    object-fit: cover;
}

.fullName, .displayname {
    position: relative;
    left: 113px;
    top: 43%;
}

.fullName {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.displayname {
    font-size: 16px;
    font-weight: 400;
    color: white;
    position: relative;
    top: 41%;
}

.pic-container {
    background: #212124;
    display: flex;
    max-height: 582px;
    /* max-width: 1280px; */
    position: relative;
}

.superfun-image {
    background-size: cover;
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 500px;
    display: block;
}

.back {
    position: relative;
    left: 15px;
    color: white;
}

