.photo-nav {
  background: white;
  color: #666;
  font-weight: 700;
  height: 50px;
  font-size: 17px;
  justify-items: baseline;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}


.photo-logo {
  font-size: 21px;
  text-align: end;
  color: blue;
}

.photo-nav-ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.photostream-photo {
  text-align: end;
}

.dUser {
  grid-column: 4;
}

.add-nav {
  height: 33px;
  justify-items: baseline;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #f2f0f0;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0 5%;
}

#addLabel {
  grid-column: 2;
  width: 43px;
}

#upload {
  grid-column: 3;
  grid-row: 1;
  color: #ccc;
}

#root {
  font-family: Proxima Nova, helvetica nueue, helvetica, arial, sans-serif;
}

#add {
  visibility: hidden;
}
#add1 {
  visibility: hidden;
}
.plus-fol {
  color: green;
}

#addLabel:hover {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 3px 8px;
}

.change-nav {
  display: flex;
  height: 33px;
  background: #f2f0f0;
  border: 1px solid #ccc;
  font-size: 14px;
  align-items: center;
}

#add-add {
  width: 40px;
  padding: 3px 8px;
}
#add-add:hover {
  border: 2px solid #ccc;
  border-radius: 4px;
  
}

#delete {
  grid-column: 3;
  width: 55px;
  padding: 3px 8px;
}

#delete:hover {
  border: 2px solid #ccc;
  border-radius: 4px;
  
}

#upload1 {
  grid-column: 10;
  justify-self: end;
  width: 100px;
  padding: 5px 8px;
  background: #3030d5;
  color: white;
  border-radius: 4px;
}

#upload1:hover {
  background: blue;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.ex-but {
  color: red;
}

.sub {
  position: relative;
  
}