.image-1 {
  background: image-url('photo1.jpg');
  background-size: cover;
  background-position: center center;
}
.image-2 {
  background: image-url('photo2.jpg');
  background-size: cover;
  background-position: center center;
}
.image-3 {
  background: image-url('photo3.jpg');
  background-size: cover;
  background-position: center center;
}
.image-4 {
  background: image-url('photo4.jpg');
  background-size: cover;
  background-position: center center;
}