
.left-nav {
  background: #212124;
  color: white;
  font-family: Proxima Nova, helvetica nueue, helvetica, arial, sans-serif;
  height: 50px;
  font-size: 17px;
  justify-items: baseline;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.right {
  display: flex;
  width: 850px;
  justify-content: space-evenly;
}

.sub-nav {
  display: grid;
  background: white;
  color: black;
  height: 50px;
  border-bottom: 1px solid #ccc;
  grid-gap: 20px;
  grid-template-columns: 284px 1fr auto;
  justify-items: end;
  align-items: center;
}

.main-logo {
  text-align: end;
  font-size: 21px;
  font-weight: 700;
}

.main-search {
  background: #ccc;
  width: 184px;
  border-radius: 3px;
  color: black;
  height: 34px;
}

.you, .explore {
  padding: 5px;
}
.cloud {
  font-size: 32px;
}

.main-logo:hover, .you:hover, .explore:hover, .cloud:hover {
  color: #ccc;
}

.activity {
  
}
.explore1 {

}
.you-drop {
  display: none;
}

.profile-nav {
  background: white;
  color: black;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(20, 1fr);
  justify-items: end;
  align-items: center;
  grid-template-rows: repeat(5, 50px);
  position: relative;
  border-top: 1px solid #ccc;
}

#about {
  grid-column: 3;
}

#photostream {
  grid-column: 4;
}

#albums {
  grid-column: 5;
}

#faves {
  grid-column: 6;
}

.add-del {
  
}